[project]
name = "hpcdaemon"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[project.scripts]
hpcdaemon = "hpcdaemon.cli:main"
