name: Publish to PyPI

on:
  workflow_dispatch: 

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/hpcdaemon

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install uv
        run: pip install uv

      - name: Build package with uv
        run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          verbose: true
          password: ${{ secrets.PYPI_API_TOKEN }}
