name: Publish to PyPI

on:
  workflow_dispatch: 

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install build tools
        run: python -m pip install --upgrade build

      - name: Build package
        working-directory: ./hpcdaemon
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.0
        with:
          verbose: true
